@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  color: theme('colors.dark-text');
  background-color: theme('colors.dark-bg');
}

#app {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  font-weight: normal;
}
